* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: 'Poppins-Regular', Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: 'Poppins-Regular', Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: 'Poppins-Regular', Arial;
	font-weight: 500;
	color: #000;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
header {
    
}
header section.wrapper {

}
header section.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header section.container h1.left {

}
header section.container h1.left img {
    display: block;
    width: 75%;
}
header section.container nav.middle {

}
header section.container nav.middle ul {
    display: flex;
    align-items: center;
}
header section.container nav.middle ul li {
     margin-right: 30px;
     font-size: 18px;
    
}
header section.container nav.middle ul li:last-child {
    margin-right: 0;
}
header section.container nav.middle ul li:hover {
    text-decoration: underline;
}
header section.container nav.middle ul li a {

}
header section.container nav.right {

}
header section.container nav.right ul {
    display: flex;
    align-items: center;

}
header section.container nav.right ul li {
     margin-right: 30px;
     font-size: 18px;
     
}
header section.container nav.right ul li:last-child {
    margin-right: 0;
}
header section.container nav.right ul li a {

}
header section.container nav.right ul li a.button {
    border: 1px solid #000000;
    padding: 7px 0 8px 2px;
    border-radius: 4px;
    width: 115px;
    display: inline-block;
    align-items: center;
    text-align: center;
}
#spotlight {
	padding: 70px 0;

}
#spotlight section.wrapper {
}	
#spotlight section.content {
	display: flex;
	justify-content: space-between;
	background-image: url(../Assets/landing-page-vector.png);
	background-repeat: no-repeat;
	background-position: 534px -2px;
	background-size: contain;

}
#spotlight section.content div.left {

}
#spotlight section.content div.left h2 {
	transform: rotate(-20deg);
    top: -70px;
    position: relative;
    color: #8873EF;
    right: 16px;
    font-size: 18px;
}
#spotlight section.content div.left h1 {
	font-size: 65px;
	font-family: 'Poppins-Bold';
	max-width: 450px;
	line-height: 1.3em;
}
#spotlight section.content div.left div.box {
	display: flex;
	margin-top: 30px;
	margin-bottom: 65px;
	
}
#spotlight section.content div.left div.box div.arrow {
	width: 20%;
}
#spotlight section.content div.left p {
	max-width: 450px;
	color: #7a7a7a;
	font-weight: 600;
    font-size: 14px;
}
#spotlight section.content div.left div.box {
	
}
#spotlight section.content div.left div.box div.telegram {
	border: 1px solid #8873EF;
	align-items: center;
	display: flex;
	border-radius: 18px;
	background: #8873EF;
	width: 28%;
}
#spotlight section.content div.left div.box div.telegram a.button {
	padding: 16px 0px 16px 20px;
    color: #fff;
    width: 75%;
    display: inline-block;
    align-items: center;
	font-size: 14px;
   
}
#spotlight section.content div.left div.box div.telegram img {
	
	filter: invert(100%);
    width: 17%;
    margin-right: 15px;
}
#spotlight section.content div.left div.box div.partifolio {
	margin-left: 40px;
}
#spotlight section.content div.left div.box div.partifolio a {
	font-size: 14px;
	font-weight: 600;
}
#spotlight section.content div.left div.box div.partifolio img {
	width: 15px;
}
#spotlight section.content div.left div.adds {
	display: flex;
	align-items: center;
}
#spotlight section.content div.left div.adds h4 {
	margin-right: 25px;
	font-size: 14px;
}
#spotlight section.content div.left div.adds ul {
	display: flex;
}
#spotlight section.content div.left div.adds ul li {
	width: 70px;
	margin-left: 15px;
}
#spotlight section.content div.left div.adds ul li img {
	display: block;
	width: 100%;
	
}
#spotlight section.content div.right {
	
}
#spotlight section.content div.right div.quote {

}
#spotlight section.content div.right div.quote h3 {
	font-weight: 700;
    max-width: 223px;
    font-size: 18px;
    padding-top: 55px;
    margin-right: 45px;
}
#spotlight section.content div.right div.quote div.play {
	width: 165px;
    top: 435px;
    position: absolute;
    right: 365px;
}
#spotlight section.content div.right div.quote div.play img {
	display: block;
	width: 100%;

}
#services {
	background: #FCDA69;
	padding: 7% 0;
}
#services section.wrapper {

}
#services section.content {
	display: flex;
	justify-content: space-between;
}
#services section.content section.left {

}
#services section.content section.left h6 {
	transform: rotate(-20deg);
    top: -90px;
    position: relative;
    color: #8873EF;
    right: 16px;
    font-size: 15px;
}
#services section.content section.left h1 {
	font-size: 65px;
    font-family: 'Poppins-Bold';
    max-width: 450px;
    line-height: 1.3em;
    margin-top: -17px;
    margin-bottom: 5px;
}
#services section.content section.left div.help {
	
}
#services section.content section.left div.help ul {
	display: flex;
}
#services section.content section.left div.help ul li {

}
#services section.content section.left div.help ul  li div.arrow {

}
#services section.content section.left div.help ul li p {
	max-width: 380px;
	margin-left: 45px;
	color: #5d5026;
	font-weight: 600;
    font-size: 14px;
}
#services section.content section.left div.help div.image {
	width: 160px;
    margin-top: 200px;
}
#services section.content section.left div.help div.image img  {
	width: 100%;
	display: block;
}
#services section.content section.right {

}
#services section.content section.right div.first {

}
#services section.content section.right div.first hr.line {
	border: 1px solid #000;
    margin-left: -200px;
    margin-right: 30px;
}
#services section.content section.right div.first ul {
	display: flex;
}
#services section.content section.right div.first ul li {
	margin-right: 55px;
    margin-bottom: 30px;
}
#services section.content section.right div.first ul li h4 {
	font-family: 'Poppins-Bold';
	margin-top: 20px;
	font-size: 18px;
}
#services section.content section.right div.first ul li h3 {
	font-weight: 800;
    font-size: 50px;
    max-width: 400px;
}
#services section.content section.right div.second {
	display: flex;
	justify-content: space-between;
}
#services section.content section.right div.second h5 {
	font-size: 15px;
	font-weight: 600;
	margin-left: 80px;
}
#services section.content section.right div.second div.violet {
	width: 50px;
    margin-top: -42px;
    margin-bottom: 28px;
}
#services section.content section.right div.second div.violet img {
	width: 100%;
	display: block;
}
#experiences {
	padding: 7% 0;
}
#experiences section.wrapper {

}
#experiences section.container {
	display: flex;
	justify-content: space-between;
}
#experiences section.container section.left {

}
#experiences section.container section.left div.top {

}
#experiences section.container section.left div.top h6 {
	transform: rotate(-20deg);
    top: -100px;
    position: relative;
    color: #8873EF;
    right: 27px;
    font-size: 15px;
}
#experiences section.container section.left div.top h1 {
	font-size: 65px;
    font-weight: 700;
    max-width: 450px;
    line-height: 1.5em;
    margin-top: -17px;
    margin-bottom: 5px;
}
#experiences section.container section.left div.top div.help {

}
#experiences section.container section.left div.top div.help ul {
	display: flex;
}
#experiences section.container section.left div.top div.help ul li {
	margin-top: 25px;
}
#experiences section.container section.left div.top div.help ul li div.arrow {

}
#experiences section.container section.left div.top div.help ul li p {
	max-width: 380px;
	margin-left: 45px;
	font-weight: 600;
    font-size: 14px;
	color: #7a7a7a;
	margin-bottom: 60px;
	
}
#experiences section.container section.left div.bottom {

}
#experiences section.container section.left div.bottom h2 {
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 50px;
}
#experiences section.container section.left div.bottom ul {
	display: flex;
	flex-wrap: wrap;
}
#experiences section.container section.left div.bottom ul li {
	width: 32%;
	
}
#experiences section.container section.left div.bottom ul li div.image_round {
	width: 70px;
	
}
#experiences section.container section.left div.bottom ul li div.image_round img {
	display: block;
	width: 100%;
}
#experiences section.container section.left div.bottom ul li h5 {
	margin-bottom: 39px;
    margin-top: 23px;
	font-size: 17px;
	font-weight: 600;
	max-width: 136px;
}
#experiences section.container section.right {
	width: 46%;
}
#experiences section.container section.right h3 {
	font-size: 32px;
	font-weight: 600;
	margin-left: -13px;
    margin-top: 65px;
	margin-bottom: 40px;
}
#experiences section.container section.right div.first {

}
#experiences section.container section.right hr.line {
	border: 1px solid #000;
    margin-left: -10px;
    margin-right: 30px;
	margin-top: 19px;
    margin-bottom: 22px;
}
#experiences section.container section.right div.designer ul {
	display: flex;
}
#experiences section.container section.right div.designer ul li {
	width: 36%;
}
#experiences section.container section.right div.designer ul li span.year {
	font-weight: 600;
	display: inline-block;
	font-size: 15px;
}
#experiences section.container section.right div.designer ul li h4 {
	font-weight: 600;
	font-size: 20px;
}
#experiences section.container section.right div.designer h5 {
	color: #7a7a7a;
	margin-top: 20px;
}
#projects {
	background: #FCDA69;
	padding: 7% 0;
}
#projects section.wrapper {

}
#projects h1 {
	font-size: 65px;
    font-family: 'Poppins-Bold';
    max-width: 450px;
    line-height: 1.5em;
}
#projects section.container {
	display: flex;
	justify-content: space-between;
}
#projects section.container div.left {

}
#projects section.container div.left div.flex {

}
#projects section.container div.left div.flex hr.line {
	border: 1px solid #000;
	margin-right: 30px;
	margin-top: 40px;
	margin-bottom: 15px;
}
#projects section.container div.left div.flex ul {
	display: flex;
}
#projects section.container div.left div.flex ul li {

}
#projects section.container div.left div.flex ul li h2 {
	font-size: 25px;
    font-family: 'Poppins-Bold';
    max-width: 291px;
}
#projects section.container div.left div.flex ul li div.arrow {
	width: 50px;
}
#projects section.container div.left div.flex ul li div.arrow img {
	display: block;
	width: 100%;
}
#projects section.container div.left div.flex p {
	font-size: 12px;
	font-family: 'Poppins-Bold';
	margin-top: 5px;
	margin-bottom: 15px;
}
#projects section.container div.left div.flex div.image {
	width: 380px;
}
#projects section.container div.left div.flex div.image img  {
	display: block;
	width: 100%;
}
#projects section.container div.left.second {
	margin-top: -125px;
}
#projects section.container div.left.third {
	margin-top: -242px;
}
#projects section.container div.left div.flex div.round {
	width: 160px;
	margin-left: 220px;
    margin-top: 30px;
}
#projects section.container div.left div.flex div.round img {
	display: block;
	width: 100%;
}
#testimonial {
	padding: 7% 0;
}
#testimonial section.wrapper {

}
#testimonial section.content {

}
#testimonial section.content section.top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}
#testimonial section.content section.top div.left {

}
#testimonial section.content section.top div.left h5 {
	transform: rotate(-20deg);
    top: -40px;
    position: relative;
    color: #8873EF;
    right: 21px;
    font-size: 15px;
}
#testimonial section.content section.top div.left h1 {
	font-size: 65px;
    font-family: 'Poppins-Bold';
    max-width: 390px;
    line-height: 1.5em;
}
#testimonial section.content section.top div.midd {

}
#testimonial section.content section.top div.midd ul {
	display: flex;
}
#testimonial section.content section.top div.midd ul li {

}
#testimonial section.content section.top div.midd ul li div.arrow {
	color: #7a7a7a;
	font-weight: 800;
}
#testimonial section.content section.top div.midd ul li p {
	max-width: 494px;
    margin-left: 32px;
	font-weight: 600;
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 60px;
}
#testimonial section.content section.top div.right {

}
#testimonial section.content section.top div.right div.arrow_down {
	margin-top: 230px;
	width: 170px;
}
#testimonial section.content section.top div.right div.arrow_down img {
	display: block;
	width: 100%;
}
#testimonial section.content section.bottom {
	display: flex;
	justify-content: space-between;
}
#testimonial section.content section.bottom div.left {
	width:25%;
}
#testimonial section.content section.bottom div.left div.person_1 {
	
}
#testimonial section.content section.bottom div.left div.person_1 img {
	display: block;
	width: 100%;
}
#testimonial section.content section.bottom div.midd {
	width: 50%;
}
#testimonial section.content section.bottom div.midd hr.line {
	border: 1px solid #000;
	margin-top: 37px;
}
#testimonial section.content section.bottom div.midd p {
	margin-left: 25px;
    margin-right: 15px;
	font-size: 20px;
	color: #585858;
	margin-top: 28px;
}
#testimonial section.content section.bottom div.midd p b {
	font-weight: 700;
	color: #4d4d4d;
}
#testimonial section.content section.bottom div.midd p b.light {
	color: #5f5f5f
}
#testimonial section.content section.bottom div.midd h4 {
	font-size: 20px;
    margin-left: 25px;
    font-weight: 700;
    margin-top: 27px;
    margin-bottom: 10px;
}
#testimonial section.content section.bottom div.midd h5 {
	margin-left: 25px;
	color: #7a7a7a;
}
#testimonial section.content section.bottom div.right {
	width: 25%;
}
#testimonial section.content section.bottom div.right div.person_2 {
	
}
#testimonial section.content section.bottom div.right div.person_2 img {
	display: block;
	width: 100%;
}
